#sketch-board {
    max-width: 450px;
    max-height: 450px;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    font-size: 0; /* fixes line height white space */
}

.square {
    background: blue;
     display: inline-block; 
    
    width: calc(100% / 16);
    
    height: calc(450px / 16); 

}

.hovered {
    background: black;
}

/* .square:hover {
    background: black;
} */

h1 {
    margin: 0 auto;
    text-align: center;
}